<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="btn">
        <ul class="ul">
            <li>12</li>
            <li>2</li>
            <li class="aa">3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
    <script>
                  const array1 = [1, 2, 3, 4];
        const reducer = (accumulator, currentValue) => accumulator + currentValue;
        zm._reduce(array1,reducer);


var sum = zm._reduce([{x: 1}, {x:2}, {x:3}], function (accumulator, currentValue) {
    return accumulator + currentValue.x;
}, 0)
console.log(sum) // logs 6


let myArray = ['a', 'b', 'a', 'b', 'c', 'e', 'e', 'c', 'd', 'd', 'd', 'd'];
        let myOrderedArray = zm._reduce(myArray, function(accumulator, cur){
            if(accumulator.indexOf(cur) === -1){
                accumulator.push(cur)
            }
            return accumulator
        },[]);
    </script>

    <script>

       var res =  namespace({a: {test: 1, b: 2}}, 'a.b.c.d')

        function namespace(obj, path) {
            var pathArr = path.split(".");

            var res = obj; // 保存当前命名空间，引用类型
            for (let i = 0; i < pathArr.length; i++) {
                const item = pathArr[i];
                if(item in obj){
                    // 对像类型则保留，否则创建一个空对象
                    if(typeof obj[item] !== 'object'){
                        obj[item] = {};
                    }    
                
                }else {
                    // 不存在则创建一个空对象
                    obj[item] = {}
                }
                // 核心是利用引用类型改变当前obj指向，同时改变了原始对象
                obj = obj[item]; // obj 的引用指向了原始的一个属性
            }
            return res;
        }

        
       console.log(zm._flat([1,2,3,[4,5,[7,8]]]));
        
    </script>
    <script>
        var a = {
            a:123,
            b:[12,3,4],
            c: function(params) {
                
            }
        }

        a.b.push(a);


        var bb = zm._deepclone(a);
    </script>

    <script>
        zm._eventProxy(".ul","click", function(e){
            console.log(e, this);
        },'.aa')
    </script>
</body>
</html>