<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="btn">点击</div>
    <script>
                  const array1 = [1, 2, 3, 4];
        const reducer = (accumulator, currentValue) => accumulator + currentValue;
        zm._reduce(array1,reducer);


var sum = zm._reduce([{x: 1}, {x:2}, {x:3}], function (accumulator, currentValue) {
    return accumulator + currentValue.x;
}, 0)
console.log(sum) // logs 6


let myArray = ['a', 'b', 'a', 'b', 'c', 'e', 'e', 'c', 'd', 'd', 'd', 'd'];
        let myOrderedArray = zm._reduce(myArray, function(accumulator, cur){
            if(accumulator.indexOf(cur) === -1){
                accumulator.push(cur)
            }
            return accumulator
        },[]);
    </script>
</body>
</html>